<launch>
  <!--- Run AMCL -->
  <include file="$(find amcl)/examples/amcl_diff.launch" />
  <arg name="robotname" default="wtf" />

  <!-- Define your move_base node -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_burger.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot3_navigation)/param/costmap_common_params_burger.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find multiple_turtlebot3)/param/local_costmap_params_$(arg robotname).yaml" command="load" />
    <rosparam file="$(find multiple_turtlebot3)/param/global_costmap_params_$(arg robotname).yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/move_base_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_navigation)/param/dwa_local_planner_params_burger.yaml" command="load" />
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="false" />
  </node>
</launch>
